<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "PizzaDetalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var pizza = ViewBag.Pizza;
}

<div class="text-center"><h2>@pizza.Nome</h2></div>
<br/>

<div class="row">
    <div>
        <ul class="list-group list-group-horizontal fw-bold border border-dark">
            <li class="list-group-item col-md-3">Nome</li>
            <li class="list-group-item col-md-7">Ingredientes</li>
            <li class="list-group-item col-md-2">Valor</li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-3">@pizza.Nome</li>
            <li class="list-group-item col-md-7">@pizza.Descricao</li>
            <li class="list-group-item col-md-2">R$@pizza.Valor</li>
        </ul>
    </div>
</div>
