<link href="~/Content/Pizzas.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Pizzas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var pizzas = ViewBag.Pizzas;
}

<!-- Lista de pizzas utilizando rows-->

    <div class="row m-5">
        <div>
            <ul class="list-group list-group-horizontal fw-bold border border-dark">
                <li class="list-group-item col-md-4">Nome</li>
                <li class="list-group-item col-md-4">Ingredientes</li>
                <li class="list-group-item col-md-4">Valor</li>
            </ul>
        </div>
        <div class="col-md-12">
            @foreach (var pizza in pizzas)
            {
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item col-md-4">@pizza.Nome</li>
                    <li class="list-group-item col-md-4">@pizza.Descricao</li>
                    <li class="list-group-item col-md-4">R$@pizza.Valor</li>
                </ul>
            }
            </div>
    </div>
<br />

<!-- Lista de pizzas utilizando tables-->
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ingredientes</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pizza in pizzas)
                {
                    <tr>
                        <td>@pizza.Nome</td>
                        <td>@pizza.Descricao</td>
                        <td>R$@pizza.Valor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>