* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
    background-color: #23232e;
}

.logoText a {
    color: rgb(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    text-decoration: none;
}

.logoText a:hover {
    color: #20b0b0
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
}

.nav-links a:hover {
    color: #20b0b0
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width:1024) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #23232e;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

.listaButton {
    text-decoration: none;
    color: black;
}

    .listaButton:hover {
        text-decoration: none;
        color: #20b0b0;
    }

.listaButton a{
    text-decoration: none;
    color: black;
}

    .listaButton a:hover {
        text-decoration: none;
        color: #20b0b0;
    }


