<link href="~/Content/Pizzas.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<div class="fw-bold text-center m-4">
    <h1>Conheça nossa pizzaria.</h1>
</div>

<div class="row">
    <div class="col-md-12 text-center fw-bold border-bottom">
        <h3>Pizzas</h3>
        <div class="col-md-12 text-center">
            <h5>Temos uma diversidade de pizzas salgadas e doces.</h5>
        </div>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-12 text-center border">
        <img src="~/Content/imagens/Fran com requeijão.jpg" />
        <img src="~/Content/imagens/Calabresa.jpg" />
        <img src="~/Content/imagens/3Queijos.jpg" />
    </div>
</div>
<br />

<div class="row m-5">
    <div class="col-md-12 text-center fw-bold border-bottom">
        <h3>Esfihas</h3>
    </div>
    <div class="col-md-12 text-center">
        <h5>Temos tambem uma grande variadade de sabores de esfihas</h5>
    </div>
</div>


