
@{
    ViewBag.Title = "Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>

@{
    var alunos = ViewBag.Alunos;
}

@foreach (var aluno in alunos)
{
    <h5>@aluno.FullName</h5>
}

